.flame {
	width: 1450px;
	overflow: auto;
}

.canvas-wrapper {
	canvas {
    border: solid 1px #979797;
    width: 700px;
    height: 500px;
		&.isPlotting:hover {
			cursor: crosshair;
		}
		&.onSegment:hover {
			cursor: move;
		}
	}
	.outrange {
		color: #ff0000;
	}
		canvas.onStroke {
		&:hover {
			cursor: move;
		}
	}
}

.information-wrapper {
	.information {
		width: 250px;
		height: 500px;
		border: solid 1px #979797;
	}
	.axis-configure {
		width: 250px;
		height: 100px;
		margin-bottom: 10px;;
		padding: 10px;
		.axis-name {
			font-weight: bold;
		}
		input[type="number"]::-webkit-outer-spin-button,
		input[type="number"]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
	.coordinate-info {
		margin: 0;
		padding: 0 10px 10px 10px;
		width: 250px;
		height: 350px;
	}
	.number {
		width: 40px;
	}
	.cordinate {
		width: 90px;
	}
}

.mat-raised-button {
	color: #ffffff;
	background-color: #299c33;
	outline: none;
	&.editingAxis {
		background-color: #f53c3c;
	}
}

.mat-input-element {
	width: 80px;
}

table {
	width: 220px;
	margin: 0 auto;
	thead {
		text-align: center;
		display: block;
		tr {
			height: 25px;
			background-color: #cacaca;
		}
	}
	tbody {
		text-align: right;
		display: block;
		overflow-x: hidden;
		overflow-y: scroll;
		border: none;
		height: 325px;
		font-size: 13px;
		tr {
			height: 25px;
			&:hover {
				background-color:#81d896;
			}
			td {
				padding-right: 10px;
			}
		}
	}
}

::ng-deep .mat-menu-panel {
  width: 100px;
  height: 60px;
  background-color: #ffffff;
  .mat-menu-item {
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    height: 25px;
    &:hover {
      // .mat-menu-itemの要素はデフォルトでマウスカーソルがpointerになる
      color: #ffffff;
      background-color: #5e5e5e;
    }
  }
}

.disabled {
  pointer-events: none;
  color: #dfdfdf;
}
