<div class="flame d-flex flex-column mt-4">
  <div class="d-flex">
    <div class="col-6 canvas-wrapper ml-2">
      <div>
        <canvas class="m-0" #canvas (mousewheel)="scalingView($event)" (mousemove)="setCurrentPosision($event)"
          (mouseup)="onClickCanvas()" [class.onStroke]="isEditAxis && isMouseOnStroke" [class.isPlotting]="isPlotting"
          [class.onSegment]="isMouseOnSegment" (contextmenu)="openMenu($event)">
        </canvas>
        マウス座標：{{ plotX | number: '1.2-2' }}, {{ plotY | number: '1.2-2' }}<br>
        倍率：<span [class.outrange]="isScaleEndRange">x{{ scale | number: '1.2-2' }}</span>
      </div>
      <div class="d-flex image-configure mt-2">
        <div class="col-10 p-0">
          <button mat-raised-button (click)="onClickFileInputButton()">画像を読み込む</button>
          <button mat-raised-button (click)="setAxisRange()" class="ml-2" [class.editingAxis]="isEditAxis"
            [disabled]="!file || vertexList.length !== 0">
            {{ isEditAxis ? '座標軸の設定終了' : '座標軸を設定する' }}
          </button>
          <button mat-raised-button class="ml-2" [disabled]="!file" (click)="resetViewConfig()">Viewをリセット</button>
          <button mat-raised-button class="ml-2 export-csv" [disabled]="!file" (click)="exportCSV()">CSV出力</button>
        </div>
      </div>
    </div>
    <div class="col-6 p-0 information-wrapper">
      <div class="information">
        <div class="d-flex flex-column axis-configure">
          <div>
            <span class="axis-name">X軸</span>
            <div>
              <label for="x-start" class="mr-1">左端</label>
              <input matInput type="number" appearance="outline" id="x-start" [disabled]="!isEditAxis" [(ngModel)]="xmin">
              <label for="x-end" class="ml-1 mr-1">右端</label>
              <input matInput type="number" matInput="number" appearance="outline" id="x-end" [disabled]="!isEditAxis" [(ngModel)]="xmax">
            </div>
          </div>
          <div class="mt-1">
            <span class="axis-name">Y軸</span>
            <div>
              <label for="y-start" class="mr-1">下端</label>
              <input matInput type="number" appearance="outline" id="y-start" [disabled]="!isEditAxis" [(ngModel)]="ymin">
              <label for="y-end" class="ml-1 mr-1">上端</label>
              <input matInput type="number" appearance="outline" id="y-end" [disabled]="!isEditAxis" [(ngModel)]="ymax">
            </div>
        </div>
        </div>
        <div class="coordinate-info mt-4">
          <table border=1>
            <thead>
              <tr>
                <td class="number">No.</td>
                <td class="cordinate">X</td>
                <td class="cordinate">Y</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vertex of vertexList; let i = index">
                <td class="number">{{ i }}</td>
                <td class="cordinate">{{ vertex.x | number: '1.2-2' }}</td>
                <td class="cordinate">{{ vertex.y | number: '1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 画像読込み用 -->
<input type="file" style="display: none;" #fileInput accept="image/*" (change)="onChangeFileInput($event)">
<img id="image" style="display: none;" src="{{ imgSrc }}">
<!-- プロット点追加・削除実行用コンテキストメニュー -->
<div style="visibility: hidden; position: fixed;" [matMenuTriggerFor]="contextMenu" (menuClosed)="afterMenuClosed()"
  [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent class="context-menu">
    <div mat-menu-item (click)="addSegment()" [class.disabled]="!isMouseOnStroke">座標点の追加</div>
    <div mat-menu-item (click)="removeSegment()" [class.disabled]="!isMouseOnSegment">座標点の削除</div>
  </ng-template>
</mat-menu>
